h2 Congratulations! #{name} You have registered for
h2 Prodyogiki 2020
h3 Your unique id is
h1=id
p Use you unique id during teams registrations
p Feel free to contact Team ISTE for any help
p Best of Luck!!! 