//- -
//- 	var toolList = [
//- 		{
//- 			'logo': 'resources/logos/pug.png',
//- 			'name': 'pug.js',
//- 			'func': 'HTML preprocessor',
//- 			'link': 'https://pugjs.org'
//- 		},
//- 		{
//- 			'logo': 'resources/logos/less.svg',
//- 			'name': 'less',
//- 			'func': 'CSS preprocessor',
//- 			'link': 'http://lesscss.org'
//- 		},
//- 		{
//- 			'logo': 'resources/logos/js.svg',
//- 			'name': 'JavaScript',
//- 			'func': 'Makes pages alive',
//- 			'link': 'https://developer.mozilla.org/en-US/docs/Web/JavaScript'
//- 		},
//- 		{
//- 			'logo': 'resources/logos/npm.svg',
//- 			'name': 'npm',
//- 			'func': 'Node.js tools',
//- 			'link': 'https://www.npmjs.com'
//- 		},
//- 		{
//- 			'logo': 'resources/logos/inkscape.svg',
//- 			'name': 'Inkscape',
//- 			'func': 'Graphics: Map and logos',
//- 			'link': 'https://inkscape.org'
//- 		},
//- 		{
//- 			'logo': 'resources/logos/git.svg',
//- 			'name': 'git',
//- 			'func': 'Source code management',
//- 			'link': 'https://git-scm.com'
//- 		},
//- 		{
//- 			'logo': 'resources/logos/github.svg',
//- 			'name': 'GitHub',
//- 			'func': 'Hosting and collaboration',
//- 			'link': 'https://github.com'
//- 		},
//- 		{
//- 			'logo': 'resources/logos/VScode.png',
//- 			'name': 'VS Code',
//- 			'func': 'Open Source Text Editor',
//- 			'link': 'https://code.visualstudio.com'
//- 		},
//- 		{
//- 			'logo': 'resources/logos/firebase.svg',
//- 			'name': 'Firebase',
//- 			'func': 'Backend Support',
//- 			'link': 'https://firebase.google.com/'
//- 		}
//- 	]


//- .topic
//- 	.heading
//- 		span ISTE

.header
	.image
		img(src="resources/logos/ISTE_hollow.svg", alt="")
	.desc
		p 
			span(id="iste") The Indian Society for Technical Education (ISTE) 
			|is a national, professional, non-profit organisation for the Technical Education System in our country. ISTE has the motto of the promoting Career development of Teachers and personality development of Students. The major objective of ISTE is to provide quality training programmes for teachers and administrators of technical Institutions to update their knowledge and skills in their fields of activity and to assist the production and development of high quality professional engineers.
			br
			a(href="https://istenith.com") Click here to go to our official website.

//- .arsenal
//- 	h1#arsenal Our Arsenal
//- 	.cardHolder 
//- 		each tool in toolList
//- 			.card
//- 				.image
//- 					img(src = tool.logo)
//- 				.name=tool.name
//- 				.tooldesc=tool.func
//- 				a(href=tool.link)=tool.link