-
	var eventList = [
		{
			'title': 'Crazy Crawler',
			'image': 'resources/img/cc.svg',
			'descr': 'Build a legged bot (crawler) that can move in a straight line to dash through a track in minimum time',
			'team_limit':3,
			'pdf': 'resources/pdfs/cc.pdf'
		},
		{
			'title': 'Molecular Mystery',
			'image': 'resources/img/mm.svg',
			'descr': 'A treasure hunt which has questions related to all topics which have to be answered by teams of 4. Solutions are all around the campus.',
			'team_limit':4
		},
		{
			'title': 'Compact Condo',
			'image': 'resources/img/ccondo.svg',
			'descr': 'Design a tiny house with different features in a defined area. You can use any means for designing.',
			'team_limit':2
		},
		{
			'title': 'Risk Reduction',
			'image': 'resources/img/rr.svg',
			'descr': 'Buy virtual assets to ideate a solution to protect against virtual perils and calamities.',
			'team_limit':2
		},
		{
			'title': 'Lost Lander',
			'image': 'resources/img/ll.svg',
			'descr': 'Build a bot which can sense obstacles in an obstacle course and clear that obstacle course in minimum time. The course cannot be seen by the operator.',
			'team_limit':4
		},
		{
			'title': 'Spaghetti Bridge',
			'image': 'resources/img/sb.svg',
			'descr': ' Design and construct a model of a single span truss bridge with the help of spaghetti noodles.',
			'team_limit':5
		},
		{
			'title': 'Ropeway Design',
			'image': 'resources/img/ropeway-design.svg',
			'descr': 'Design and make a model of a ropeway. You need to know simple law of mechanics here, cable car is one of the example for this type of ropeway systems.',
			'team_limit':4
		},
		{
			'title': 'Dev Dash',
			'image': 'resources/img/dd.svg',
			'descr': 'There are 2 rounds in this code marathon. A short code competition followed by code relay event. Solo event for all the enthusiastic coders',
			'team_limit':1
		}
	]


.card-holder
	each event in eventList
		.card
			.inner
				.front
					h3= event.title
					center
						img(src=event.image)
				.back
					p= event.descr

script.
	let events_band = document.querySelector('#events .band');
	let events_tab = document.querySelector('.tab');
	events_tab.addEventListener('click', (eve) => {
		events_band.classList.add('active');
	});
