footer
    .links
        h1 ISTE
        a(href="http://www.istenith.com/" target="_blank") 
            p Official Website
        a(href="resources/policy.pdf" download)
            p Event Policy
    .social
        p Contact Us
        a(href="https://www.instagram.com/teamistenith/" target="_blank") 
            img(src="resources/logos/insta.svg", alt="" )
        a(href="https://www.facebook.com/teamistenith/" target="_blank") 
            img(src="resources/logos/fb.svg", alt="")
        a(href="https://in.linkedin.com/company/iste-nith" target="_blank")  
            img(src="resources/logos/lin.svg", alt="")