
.page
	#banner
		.image
			img(src="resources/logos/pg.svg", alt="", data-tilt="" data-tilt-glare="true" data-tilt-max-glare="0.5" data-tilt-speed="400" data-tilt-scale="1.1" data-tilt-max="24" data-tilt-perspective="500" style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);")
		#prody prody
			span(id="flicker" class="clear") ogiki

	canvas#matrix-effect
.content
	.topic
		.heading
			span What is Prodyogiki?
		.desc Every technocrat’s first hand at practical implementation of what has been learnt. Every nerd’s passion. And the most fulfilling exploration of technology that any engineer can do. This is merely the glimpse of the show. The Prodyogiki of ISTE, NIT Hamirpur is designed to challenge and motivate the students at the same time, and bring out their best. Prodyogiki is filled with an interactive session, workshops, events and quizzes for students promise to be melting pots of different engineering and technical fields and will set new benchmarks in collaboration between different disciplines.
