form(class="holder" method="POST" action="/regPlayer")
    .regPlayer
        h1 Register Yourself
        .lable Name
        .textbox
            input(type="text" id="player_name" name="name" required placeholder="Full Name")

        .lable Phone Number
        .textbox
            input(type="input" id="player_phone" name="phone" required placeholder="Phone Number")

        .lable Email
        .textbox
            input(type="email" id="player_email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required placeholder="Your Email")
        .submit
            input(class="btn" type="submit" value="Submit!")

form(class="holder" id="regTeam" onsubmit="event.preventDefault(); validate();" method="POST" action="/regTeam")
    .regTeam
        h1 Register Your Team
        .lable Team Name
        .textbox
            input(type="text" id="team_name" required name="team_name" placeholder="Name of your team")
        .lable#teamLeader Team Leader Id
        .textbox.team_leader
            input(type="text" id="team_leader_id" required name="team_leader_id" placeholder="Id of team leader")
        //- .textbox.team_leader
        //-     input(type="text" id="team_leader_email" name="team_leader_email" placeholder="Email")
        .lable Event
        - var limit
        .textbox
            select(id="select" name="event" onChange="handleSelectChange()")
                each event in eventList
                    - limit = event.team_limit
                    option(value = event.title name=event.title id=event.team_limit)=event.title 
                    //value->title                                    id->limit
        .lable Team Members
        div(class='lable' id='limit_lable') 
  
    .regMembers

        -var members = [2,3,4,5]

        each member in members
            .clear
                .lable Member #{member}
                .textbox
                    input(type="text" name="team_member_"+member placeholder="Id of member"+member)
                //- .textbox
                //-     input(type="text" name="team_member_"+member+"_email" placeholder="Email")
        
    
    .submit
            input(class="btn" type="submit" value="Submit!")
