@import (reference) 'lib/colors.less';
@import (reference) 'lib/helpers.less';

#about-us {
	padding-bottom: 6em;
	padding-top:2em;
	.topic {
		.heading {
			text-align: center;
			span {
				color: @accent-blue;
				font-size: 5em;
				letter-spacing: 15px;
				margin-left:60px;
			}
		}
	}
}
.header {
	display: flex;
	width: 60%;
	position: relative;
	margin: auto;
	.image {
		padding: 24px;
		padding-top:0;
		text-align: center;
		img {
			width: 240px;
		}
	}
	.desc {
		padding: 0.7em;
		#iste{
			color:#00ff00
		}
	}
	p {
		text-align: justify;
		border-left: 2px solid #00ff00;
		padding-left: 1em;
	}
	a {
		color: #03a9f4;
	}
}

// .arsenal{
// 	text-align: center;

// 	#arsenal{
// 		font-size: 30px;
// 		color: #00ff00;
// 	}

// 	.cardHolder{
// 		//border: 2px solid white;
// 		margin-top: 30px;

// 		display: flex;
// 		flex-wrap:wrap;
// 		justify-content:center;

// 		background-color: #0e0f0e9d;

// 		.card{
// 			flex:1 1 25%;

// 			display:flex;
// 			flex-direction: column;
// 			align-content: center;

// 			//border: 2px dotted red;
// 			margin: 25px 5px 25px 5px;
// 			.image{
// 				flex: 1 1 15%;
// 				img{
// 					align-self: center;
// 					width:200px;
// 				}
// 			}
// 			a{
// 				color:#03a9f4;
// 			}
// 			.name{
// 				font-size: 5em;
// 			}
// 			.tooldesc{
// 				font-size:2em;
// 			}

// 		}
// 	}
// }

@media screen and (max-width: 900px) {
	.header {
		width: 90%;
		display: flex;
		flex-flow: column;
	}
	#about-us {
		.desc {
			padding-bottom: 6em;
		}
	}
}
