doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title
.image
  table.table2(cellspacing='0' cellpadding='0' border='0' style='margin: 0 auto;width: 100%;')
    tr
      td.table1(align='center' style='z-index: 1;background: black;border: solid 20px;border-color: #00f56a #0089ab  #0089ab  #00f56a;')
        table.responsivetable(width='60%' cellspacing='0' cellpadding='0')
          tr
            td(align='center')
              img.responsiveimg(src='https://img.techpowerup.org/191220/ezgif-com-gif-maker.png' alt='' style='width: 40%;height: auto;margin-top: 8%;padding: 5%;')
          tr
            td.headline(align='center' style='padding-top: 10px;')
              h1(style='line-height: 2;text-align: justify; color: white;') Congratulations!
              p(style='line-height: 2;text-align: justify; color: white;') Your team &quot; &quot; has succesfully registered for prodyogiki 2020.
              p(style='line-height: 2;text-align: justify; color: white;')
                | Your team ID is
                strong OXA123
                | .
              p(style='line-height: 2;text-align: justify; color: white;')
                | Feel free to contact team ISTE for help.
          tr
            td
              h3(style='color: white; display: inline;') Contact us at:
              p.a(style='color: #0089ab;display: inline;margin-left: 2%;')  teamiste@gmail.com
          tr
            td
              br
              a.btn(href='https://istenith.com/prody/' style='background-color: #00f56a;border-radius: 7px;border: 1px solid black;display: inline-block;cursor: pointer;color: black;font-family: Arial;font-size: 17px;padding: 12px 25px;text-decoration: none;align: center;margin: 20px auto;') WEBSITE
