h2 Congratulations team "#{Tname}"!
h2 Welcome to Prodyogiki 2020
h3 Your Team id is
h1=Tid
p Share this id with your friends so that they can join your team.
p Feel free to contact Team ISTE for any help
p Best of Luck!!!
p See Ya! 