html
    head
        title=title
        style(type="text/css").
            body{
                background : #101010;
                text-align : center;
                color : #00ff00;
            }
    body 
        h2 Congratulations you have now joined the team #{team}