html
    head
        title=title
        style(type="text/css").
            body{
                background : #101010;
                text-align : center;
                color : #00ff00;
            }
    body 
        h2 Your team "#{name}" is now registered
        h3 The team Id is
        h1(style = 'color : white') #{id}
        h3 We just sent you an email to the team leader.
        h3 If you did not recieve the email kindly check your spam folder.